<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="user_footer">
		
		<footer class="footer">
			<div class="col-md-12 text-center">
				<p>
					<small>&copy;2019 YgForestDensity. Copyright ©
						豫ICP备19016169号-1<br/> <span> Designed <i
							class="icon-heart"></i> Developed by <a  target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes">张森林.</a>
							Version 2.1 Build 20190920.
					</span> <span><br/>Any problem, Please Contact <a
							href="mailto:sss1998430@foxmail.com" target="_blank">sss1998430@foxmail.com</a> </span>
					</small>
				</p>
			</div>
		</footer>

		<div th:include="common/static :: staticjs"></div>

	</div>
</body>
</html>