<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/mail :: staticlink('收件箱')">
<meta charset="utf-8" />
</head>


<body>
	<!-- Aside Start-->
	<aside class="left-panel" th:include="common/navbar :: user_nav"></aside>
	<!-- Aside Ends-->

	<!--Main Content Start -->
	<section class="content">

		<!-- Header -->
		<div th:include="common/header :: user_header"></div>

		<!-- Header Ends -->


		<!-- Page Content Start -->
		<!-- ================== -->

		<div class="wraper container-fluid">


			<div class="row">

				<!-- Left sidebar -->
				<div th:replace="common/mail :: adminleftsider('notice')"></div>
				<!-- End Left sidebar -->


				<!-- Right Sidebar -->
				<div class="col-md-9">
					<div class="row">
						<div class="col-lg-12">
							<div class="btn-toolbar" role="toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-success">
										<i class="fa fa-inbox"></i>
									</button>
									<button type="button" class="btn btn-success">
										<i class="fa fa-exclamation-circle"></i>
									</button>
									<button type="button" class="btn btn-success">
										<i class="fa fa-trash-o"></i>
									</button>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-success dropdown-toggle"
										data-toggle="dropdown" aria-expanded="false">
										<i class="fa fa-folder"></i> <b class="caret"></b>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#fakelink">Action</a></li>
										<li><a href="#fakelink">Another action</a></li>
										<li><a href="#fakelink">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#fakelink">Separated link</a></li>
									</ul>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-success dropdown-toggle"
										data-toggle="dropdown" aria-expanded="false">
										<i class="fa fa-tag"></i> <b class="caret"></b>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#fakelink">Action</a></li>
										<li><a href="#fakelink">Another action</a></li>
										<li><a href="#fakelink">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#fakelink">Separated link</a></li>
									</ul>
								</div>

								<div class="btn-group">
									<button type="button" class="btn btn-success dropdown-toggle"
										data-toggle="dropdown" aria-expanded="false">
										More <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#fakelink">Dropdown link</a></li>
										<li><a href="#fakelink">Dropdown link</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					<!-- End row -->

					<div class="panel panel-default m-t-20">
						<div class="panel-body">

							<table class="table table-hover mails">
								<tbody>
									<tr th:each="notice,iStat: ${page.list}">
										<td class="mail-select"><label class="cr-styled">
												<input type="checkbox"><i class="fa"></i>
										</label></td>
										<td class="mail-rateing"><i
											class="fa fa-star text-warning"></i></td>
										<td><a href="email-read.html">管理员</a></td>
										<td><a th:href="'/admin/notice?nId='+${notice.nId}"><i
												class="fa fa-circle text-success m-r-15"></i><span
												th:text="${notice.nSubject}">Hi Bro, How are you?</span></a></td>
										<td><i class="fa fa-paperclip pull-right"
											th:if="${notice.nFilepath} !=null"></i></td>
										<td class="text-right"
											th:text="${#dates.format(notice.nTime, 'yyyy-MM-dd')}">07:03
											AM</td>
									</tr>

								</tbody>
							</table>

							<hr>

							<div class="row">
								<div class="col-xs-7" th:text="'Showing 1 - 20 of '+${page.total}">289</div>
								<div class="col-xs-5">
									<div class="btn-group pull-right">
										<button type="button" class="btn btn-default"
											th:onclick="'window.location.href=\'/admin/notice?pageNum='+${page.prePage}+'\''">
											<i class="fa fa-chevron-left"></i>
										</button>
										<button type="button" class="btn btn-default"
											th:onclick="'window.location.href=\'/admin/notice?pageNum='+${page.nextPage}+'\''">
											<i class="fa fa-chevron-right"></i>
										</button>
									</div>
								</div>
							</div>

						</div>
						<!-- panel body -->
					</div>
					<!-- panel -->
				</div>
				<!-- end Col-9 -->

			</div>
			<!-- End row -->


		</div>
		<!-- END Wraper -->

		<!-- Footer Start -->
		<div th:include="common/footer :: user_footer"></div>
		<!-- Footer Ends -->

	</section>




</body>

<!-- Mirrored from coderthemes.com/velonic_3.0/admin_3/inbox.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 May 2016 14:53:22 GMT -->
</html>
